.btn {
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1.91px;
    line-height: 27px;
    padding: 14px 30px 12px;

    &--orange {
        border-radius: 15px;
        text-shadow: 0 0 4px rgba(255,255,255,0.50);
        border: 2px solid #FF921A;
        box-shadow: 0 0 4px 0 #FF921A;
    }

    &--purple-small {
        text-shadow: 0 0 4px rgba(255,255,255,0.50);
        background: #3C47A0;
        border: 1px solid #FF921A;
        box-shadow: 0 2px 7px 0 #FF921A;
        padding: 5px 10px;
    }

    &--orange-fill {
        background-image: linear-gradient(180deg, #924F04 0%, #FF921A 100%);
        border: 2px solid #482B0B;
        box-shadow: 0 0 4px 0 #FF921A;
        border-radius: 15px;
    }
}
