textarea {
    padding: 30px;
    background: rgba(184, 159, 213, 0.16);
    border: 1px solid #B89FD5;
    box-shadow: 0 2px 7px 0 #8758AF;
    color: white;
    width: 100%;

    &.coding {
        background-color: rgba(65, 18, 105, 0.5);
    }

    &::placeholder {
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.27px;
        line-height: 28px;
    }
}
