.label {
    font-size: 14px;
    letter-spacing: 1.91px;
    line-height: 27px;
    text-transform: uppercase;
    @apply text-white;
    text-shadow: 0 0 4px rgba(255,255,255,0.50);

    &--orange {
        @apply text-orange;
        text-shadow: 0 0 4px #FF921A;
    }
    &--big {
        font-size: 20px;
        font-weight: 700;
        text-shadow: 0 0 2px #FF921A;
    }
}

.text {
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1.27px;
    line-height: 28px;
    text-shadow: 0 2px 4px rgba(255,255,255,0.50);
}
